.carousel {
    position: relative;
    margin: 1em 5em 0 5em;
  }
  
  .carousel-image {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
  }
  
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .carousel-arrow.left {
    left: 10px;
  }
  
  .carousel-arrow.right {
    right: 10px;
  }

  .arrow-left, .arrow-right {
    width: 40px;
  }
  
  .carousel-pagination {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
  }

  @media screen and (max-width: 768px) {

    .carousel {
      margin: 0;
      width: 90%;
    }

    .arrow-left, .arrow-right {
      width: 20px;
    }

    .carousel-arrow.left {
      left: 5px;
    }
    
    .carousel-arrow.right {
      right: 5px;
    }
  
}

