* {
  font-family: Montserrat;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em 1em 1em;
  }
  
  .logo {
    width: 100px;
  }
  
  .nav a {
    margin-left: 5em;
    text-decoration: none;
    color: black;
  }