.banner {
    background-image: url('../assets/ImgAccueil.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .banner h1 {
    font-size: 36px;
  }
