.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .footer-logo {
    width: 100px;
    margin-bottom: 10px;
  }