.locations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 50%;
}

.location-card {
  background-color: #ff6666;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 50%;
}  

.location-cover {
  width: 100%;
} 

