.accordion {
    margin: 10px 0;
    border-radius: 5px;
    width: 80%;
  }

  .accordion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 4em;
    gap: 0.3em;
  }
  
  .accordion-title {
    background-color: #ff6060;
    font-weight: 600;
    color: white;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }
  
  .accordion-content {
    padding: 15px;
    background-color: #F6F6F673;
    color: #333;
    border-radius: 5px 5px 10px 10px;
  }

  @media screen and (max-width: 768px) {
    
    .accordion-title {
      width: 80%;
    }

    .accordion {
      margin: 0;
      padding: 1em;
    }

    .accordion-content {
      width: 80%;
    }
  }

  @media screen and (max-width: 550px) and (min-width: 300px) {
    .accordion-container {
      padding: 1em;
      gap: 0.1em;
    }
  }