.banner {
  position: relative;
  background-image: url('../../assets/ImgAccueil.jpg');
  background-size: cover;
  background-position: center;
  height: 223px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: auto 6.5em;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Simule un effet de 'brightness' */
  z-index: 1;
}

.banner h1 {
  position: relative;
  font-size: 36px;
  z-index: 10; /* Assurer que le h1 est au-dessus de la superposition */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


@media screen and (max-width: 768px) {

  .banner {
    margin: 8em;
  }

  .banner h1 {
    font-size: 24px;
    margin: 0.5em;
  }
}